body {
  padding: 10px;
  font-family: sans-serif;
}
.p-frame img{
  width: 100%
}
.previewImg img{
  width: 60%;
}
.invalidWarn{
  border: 2px solid #dc3545 !important;
}
.js-delete{
  cursor: pointer;
  font-size: 1.5em;
  color: #dc3545;
}
.js-edit{
  font-size: 1.5em;
  color: #27792b;
  cursor: pointer;
}
.btn-default{
  border: 4px solid rgb(61, 129, 238) !important;
}