body {
  padding: 10px;
  font-family: sans-serif;
}
.p-frame{
  max-height: 230px;
  overflow: hidden;
}
.previewImg img{
  width: 60%;
}
.invalidWarn{
  border: 2px solid #dc3545 !important;
}
.js-delete, .js-edit, .js-view {
  cursor: pointer;
  font-size: 1.5em;
}
.js-delete{
  color: #dc3545;
}
.js-edit{
  color: #27792b;
}
.js-view{
  color: #297fb8;
}
.js-view:hover{
  animation: aniro 4s linear infinite;
}
@keyframes aniro {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }  
}
.btn-default{
  border: 4px solid rgb(61, 129, 238) !important;
}
.maxH{
  max-height: 400px;
  overflow: hidden;
}